<p class="title">
  Let's finish powering you up!
</p>
<form class="info-form">
  <div class="input">
    <input type="text">
    <label>Last name</label>
  </div>
  <div class="input">
    <input type="text">
    <label>First name</label>
  </div>
  <div class="input">
    <input type="text">
    <label>E-mail</label>
  </div>
  <div class="input">
    <input type="text">
    <label>Phone</label>
  </div>
  <select name="" id="" class="select">
    <option value="">Val 1</option>
    <option value="">Val 2</option>
  </select>
  <button class="button">Continue</button>
</form>