<div class="title-info">
  <div>
    <p class="title">
      Your plan:
    </p>
    <span class="subtitle">Intermediate<br>20$</span>
  </div>
  <div>
    <p class="title">
      Information:
    </p>
    <span class="subtitle">Jhon Doe, jhondoe@mail.ru<br>+1 123 456-78-90</span>
  </div>
</div>
<!-- <form class="info-form">
  <div class="input">
    <input type="text">
    <label>Card number</label>
  </div>
  <div class="input">
    <input type="text">
    <label>Month (MM)</label>
  </div>
  <div class="input">
    <input type="text">
    <label>CVC / CVV</label>
  </div>
  <div class="input">
    <input type="text">
    <label>Year (YYYY)</label>
  </div>
  <button class="button">Buy</button>
</form> -->
<div class="answer-box">
  <div class="error">
    <i class="icon">
      <svg class="svg-shape" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 48 48" style="opacity: 1;position:absolute;" preserveAspectRatio="none">
        <path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z" fill="rgb(148, 148, 148)" stroke="rgb(170,170,170)" stroke-width="0" stroke-linecap="square" stroke-alignment="inner" vector-effect="non-scaling-stroke" stroke-miterlimit="100"></path>
      </svg>
    </i>
    <p class="title">Error!</p>
  </div>
  <!-- <div class="success">
      <i></i>
      <p>Success!</p>
  </div> -->
</div>
<button class="button color-light back-button">Back</button>
