/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
.title {
  font-size: 24px;
  color: #7b8d93;
  line-height: 27px;
  margin-bottom: 33px;
  font-weight: normal;
}
.h3 {
  font-size: 22px;
  line-height:24px;
  font-weight:normal;
}
.button {
  background: rgb(27, 176, 27);
  width: 150px;
  height: 45px;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #fff;
}
.input {
  width: 100%;
  max-width: 405px;
  background: rgb(243,243,243);
  font-size: 14px;
  color: #7b8d93;
  position: relative;
  input {
    width: 100%;
    height: 60px;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    z-index: 2;
    padding: 15px;
    &:focus ~ label {
      opacity: 0;
    }
  }
  label {
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 60px;
    padding-left: 15px;
    &.hide {
      opacity: 0;
    }
  }
}
.select {
  width: 100%;
  height: 60px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: rgb(243,243,243);
  padding: 15px;
}